<div class="custom-container">
  <h2 class="delivery-info-title">INFORMATIONS DE LIVRAISON</h2>

  <%= form_for [@order, @delivery_info], html: { class: 'custom-form' } do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="field">
      <%= f.text_field :nom, class: "input", placeholder: "Nom", required: true %>
    </div>
    
    <div class="field">
      <%= f.text_field :prenom, class: "input", placeholder: "Prénom", required: true %>
    </div>

    <div class="field">
      <%= f.text_field :adresse, class: "input", placeholder: "Adresse de livraison", required: true %>
    </div>

    <div class="field">
      <%= f.text_field :code_postal, class: "input", placeholder: "Code postal", required: true %>
    </div>
    
    <div class="field">
      <%= f.text_field :ville, class: "input", placeholder: "Ville", required: true %>
    </div>

    <%= link_to 'VALIDER', checkout_create_path(order_id: @order.id, total: @order.items.sum(:price)), method: :get, class: "custom-submit-button" %>
  <% end %> 
</div>
