 <h2 class="custom-h2">Vous y êtes presque !</h2>
<h3 class="custom-h3">Informations de livraison</h3>
  <%= form_for [@order, @delivery_info], html: { class: 'custom-form' } do |f| %>
    <% if @delivery_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@delivery_info.errors.count, "erreur") %> ont empêché l'enregistrement :</h2>

        <ul>
          <% @delivery_info.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="field">
      <%= f.text_field :nom, class: "input", placeholder: "Nom", required: true %>
    </div>
    
    <div class="field">
      <%= f.text_field :prenom, class: "input", placeholder: "Prénom", required: true %>
    </div>

    <div class="field">
      <%= f.text_field :adresse, class: "input", placeholder: "Adresse de livraison", required: true %>
    </div>

    <div class="field">
      <%= f.text_field :code_postal, class: "input", placeholder: "Code postal", required: true, pattern: "[0-9]*", title: "Code postal doit contenir uniquement des chiffres" %>
    </div>
    
    <div class="field">
      <%= f.text_field :ville, class: "input", placeholder: "Ville", required: true %>
    </div>

    <%= f.submit 'VALIDER', class: 'custom-submit-button' %>
  <% end %> 

