<h1 class="text-center display-4">Découvrez Nos Bijoux</h1>
<p class="text-center lead">Artisanat fait main au cœur de l'Occitanie</p>

<section id="products" class="py-5">
  <div class="container position-relative">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'about_us.jpg', class: 'd-block w-100 carousel-image', alt: 'Furret' %>
              <div class="text-center mt-2">
                <%= link_to 'Furret', '#', class: 'carousel-title' %>
              </div>
            </div>
            <div class="col-md-4">
              <%= image_tag 'bracelet.jpg', class: 'd-block w-100 carousel-image', alt: 'Bracelets' %>
              <div class="text-center mt-2">
                <%= link_to 'Bracelets', '#', class: 'carousel-title' %>
              </div>
            </div>
            <div class="col-md-4">
              <%= image_tag 'bracelet.jpg', class: 'd-block w-100 carousel-image', alt: 'Colliers' %>
              <div class="text-center mt-2">
                <%= link_to 'Colliers', '#', class: 'carousel-title' %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'boucles.jpg', class: 'd-block w-100 carousel-image', alt: 'Boucles d\'oreilles' %>
              <div class="text-center mt-2">
                <%= link_to 'Boucles d\'oreilles', '#', class: 'carousel-title' %>
              </div>
            </div>
            <div class="col-md-4">
              <%= image_tag 'porte-cle.jpg', class: 'd-block w-100 carousel-image', alt: 'Porte-clés' %>
              <div class="text-center mt-2">
                <%= link_to 'Porte-clés', '#', class: 'carousel-title' %>
              </div>
            </div>
            <div class="col-md-4">
              <%= image_tag 'about_us.jpg', class: 'd-block w-100 carousel-image', alt: 'Furret' %>
              <div class="text-center mt-2">
                <%= link_to 'Furret', '#', class: 'carousel-title' %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'bracelet.jpg', class: 'd-block w-100 carousel-image', alt: 'Bracelets' %>
              <div class="text-center mt-2">
                <%= link_to 'Bracelets', '#', class: 'carousel-title' %>
              </div>
            </div>
            <div class="col-md-4">
              <%= image_tag 'bracelet.jpg', class: 'd-block w-100 carousel-image', alt: 'Colliers' %>
              <div class="text-center mt-2">
                <%= link_to 'Colliers', '#', class: 'carousel-title' %>
              </div>
            </div>
            <div class="col-md-4">
              <%= image_tag 'boucles.jpg', class: 'd-block w-100 carousel-image', alt: 'Boucles d\'oreilles' %>
              <div class="text-center mt-2">
                <%= link_to 'Boucles d\'oreilles', '#', class: 'carousel-title' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev outer-control" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next outer-control" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>



  <section class="artisan-section py-5 bg-light">
    <div class="container d-flex flex-column flex-md-row align-items-center">
      <div class="text-center flex-grow-1 mr-md-3 mb-3 mb-md-0">
        <h1 class="text-center display-4">Joaillerie Artisanale</h1>
        <p>Tous nos bijoux sont faits main par Miss Cramée dans son atelier niché au cœur de l'Occitanie. Chaque pièce est unique, et cela demande du temps. Merci de votre patience pour la livraison, en espérant que vous serez enchanté par l'âme de chaque bijou.</p>
        <%= link_to 'A propos de Miss cramée', about_path, class: 'custom-link' %>
      </div>
      <div class="image">
        <%= image_tag 'artisan-bijoutier.png', class:"img-fluid rounded", alt: 'Photo artisan-bijoutier' %>
      </div>
    </div>
  </section>

      <section class="testimonial-section py-5">
    <div class="container">
                    <h1 class="text-center display-4">Quelques mots d’amour...</h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body text-center">
              <p class="card-text">“Mon bracelet est magnifique, c’est exactement ce que je voulais et la livraison a été extremement rapide, merci pour tout Miss cramé”</p>
              <br><p class="card-text text-center"><strong>- Joséphine</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="image-grid-section py-5 bg-light">
    <div class="container">
              <h1 class="text-center display-4 mb-3">Nos Engagements</h1>
      <div class="row">
        <div class="col-md-3 col-6 mb-4">
          <%= image_tag 'Made in France.png', class: 'img-fluid rounded', alt: 'Made in France' %>
        </div>
        <div class="col-md-3 col-6 mb-4">
          <%= image_tag 'Fait-Main.png', class: 'img-fluid rounded', alt: 'Fait Main' %>
        </div>
        <div class="col-md-3 col-6 mb-4">
          <%= image_tag 'paiement sécurisé.png', class: 'img-fluid rounded', alt: 'Paiement Sécurisé' %>
        </div>
        <div class="col-md-3 col-6 mb-4">
          <%= image_tag 'Livraison Rapide.png', class: 'img-fluid rounded', alt: 'Livraison Rapide' %>
        </div>
      </div>
    </div>
  </section>



  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</body>
</html>
