<h1 class="text-center my-4">Nos Bijoux</h1>

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col">
    <div class="card h-100">
      <%= image_tag 'about_us.jpg' %>
      <div class="card-body">
        <h5><%= link_to 'BRACELETS >', bracelets_path, class: "text-center custom-link" %></h5>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <%= image_tag 'about_us.jpg' %>
      <div class="card-body">
        <h5><%= link_to 'COLLIERS >', colliers_path, class: "text-center custom-link" %></h5>
      </div>
    </div>
  </div>

    <div class="col">
    <div class="card h-100">
      <%= image_tag 'about_us.jpg' %>
      <div class="card-body">
        <h5><%= link_to 'BOUCLES D\'OREILLE >', boucles_oreilles_path, class: "text-center custom-link" %></h5>
      </div>
    </div>
  </div>

    <div class="col">
    <div class="card h-100">
      <%= image_tag 'about_us.jpg' %>
      <div class="card-body">
        <h5><%= link_to 'PORTES CLES >', porte_cles_path, class: "text-center custom-link" %></h5>
      </div>
    </div>
  </div>

    <div class="col">
    <div class="card h-100">
      <%= image_tag 'about_us.jpg' %>
      <div class="card-body">
        <h5><%= link_to 'MARQUE PAGES >', marque_page_path, class: "text-center custom-link" %></h5>
      </div>
    </div>
  </div>

    <div class="col">
    <div class="card h-100">
      <%= image_tag 'about_us.jpg' %>
      <div class="card-body">
        <h5><%= link_to 'PIECES UNIQUES >', piece_unique_path, class: "text-center custom-link" %></h5>
      </div>
    </div>
  </div>
</div>

<div class="custom-line mb-3"></div>

<div class="custom-container-about d-flex flex-column flex-md-row align-items-center">
  <div class="card flex-grow-1 mr-md-3 mb-3 mb-md-0">
    <div class="card-body d-flex flex-column align-items-start">
      <h1 class="mb-4 text-center">Bijouterie Artisanale</h1>
      <p class="fs-9 mb-3 text-center">Tous nos bijoux sont faits main par Miss Cramée dans son atelier niché au cœur de l'Occitanie.</p>
      <p class="fs-9 mb-3 text-center">Chaque pièce est unique, et cela demande du temps. </p>
      <p class="fs-9 text-center">Merci de votre patience pour la livraison, en espérant que vous serez enchanté par l'âme de chaque bijou.</p><br>
        <h5><%= link_to 'A propos de Miss Cramée >', about_path, class: "text-center custom-link" %></h5>
    </div>
  </div>
  <div class="image">
    <%= image_tag 'about_us.jpg', class:"img-fluid  mb-3", alt: 'Photo de présentation Miss Cramée' %>
  </div>
</div>

<div class="custom-line"></div>

<div class="image-grid">
  <div class="image-item"><%= image_tag 'Made in France.png', alt: 'Image 1' %></div>
  <div class="image-item"><%= image_tag 'Fait-Main.png', alt: 'Image 2' %></div>
  <div class="image-item"><%= image_tag 'paiement sécurisé.png', alt: 'Image 3' %></div>
  <div class="image-item"><%= image_tag 'Livraison Rapide.png', alt: 'Image 4' %></div>
</div>

<div class="custom-line"></div>

      <h1 class="text-center my-4">Quelques mots d’amour...</h1>
      <p class="fs-9 mb-3 text-center">“Mon bracelet est magnifique, c’est exactement ce que je voulais et la livraison a été extremement rapide, merci pour tout Miss cramé”</p>
      <p class="fs-9 mb-3 text-center"> - Joséphine</p>

