<h2 class="custom-h2">Inscrivez-vous</h2>
<h3 class="custom-h3">Heureux de vous compter parmi nous !</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "custom-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Mot de passe", autocomplete: "new-password" %>
    <small>Le mot de passe doit contenir au moins 8 caractères, incluant au moins deux des types suivants : majuscules, minuscules, chiffres, caractères spéciaux.</small>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirmer le mot de passe", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "M'INSCRIRE", class: "custom-submit-button" %>
  </div>
<% end %><br>


<div class="custom-line"></div>


<div class="actions custom-text">
  <p>Déjà un compte ? 
 <%- if controller_name != 'sessions' %>
  <%= link_to "Se connecter", new_session_path(resource_name), class: "custom-link"%>
<% end %>

</div> 

