<h2 class="custom-h2">Inscrivez-vous</h2>
<h3 class="custom-h3">Heureux de vous compter parmi nous !</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "custom-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :username, placeholder: "Nom d'utilisateur", autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Mot de passe", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirmer le mot de passe", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "M'INSCRIRE", class: "custom-submit-button" %>
  </div>
<% end %><br>

<p class="custom-text"><span>Déjà un compte ?</span> 
<%- if controller_name != 'sessions' %>
  <%= link_to "Se connecter", new_session_path(resource_name), class: "custom-link"%><br />
<% end %>