<h1 class="custom-h2">Ajouter un Topic</h1>

<%= form_with(model: @topic, local: true, class: 'custom-form') do |form| %>
  <div class="field">
    <%= form.label :title, class: 'custom-label' %>
    <%= form.text_field :title, class: 'custom-input' %>
  </div>

  <div class="field">
    <%= form.label :content, class: 'custom-label' %>
    <%= form.text_area :content, class: 'custom-textarea' %>
  </div>

  <div class="field">
    <%= form.label :topic_tag_ids, 'Tags', class: 'custom-label' %><br>
    <div class="custom-checkbox-group">
      <% TopicTag.all.each do |tag| %>
        <div class="custom-checkbox">
          <%= check_box_tag 'topic[topic_tag_ids][]', tag.id, @topic.topic_tags.include?(tag), class: 'custom-checkbox-input' %>
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'custom-submit-button' %>
  </div>
  <%= link_to 'Revenir en arrière', 'javascript:history.back()', class: "btn btn-secondary back-button" %>

<% end %>
