<% content_for :title, "Forum" %>

<div class="topic-container">
  <h1><%= @topic.title %></h1>
  <p class="topic-content"><%= @topic.content %></p>
  <p class="topic-meta">Auteur: <%= @topic.user.email %></p>
  <p class="topic-meta">Date de création: <%= @topic.created_at.strftime("%d/%m/%Y") %></p>
</div>

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model: [@topic, @comment || Comment.new], local: true, html: { class: "custom-form", id: "comment-form" }) do |f| %>
    <div class='field'>
      <%= f.text_area :content, id: "comment-content", placeholder: "Ajouter un commentaire", autofocus: true, autocomplete: "off", class: "custom-form" %>
    </div>
    <%= f.submit "Ajouter", class: "custom-submit-button mb-4" %>
  <% end %>
<% else %>
  <%= link_to 'Connectez-vous pour ajouter un commentaire', new_user_session_path, class: "custom-link" %>
<% end %>

<%= javascript_include_tag "comment_form_validation" %>

<%= link_to 'Revenir au forum', topics_path, class: "custom-link" %>

<h3 class="text-center my-4">Commentaires</h3>
<div class="comments-container">
  <% if @topic.comments.empty? %>
    <p class="no-comments">Il n'y a pas de commentaires, soyez le premier à réagir.</p>
  <% else %>
    <% @topic.comments.each do |comment| %>
      <div class="comment-box">
        <p class="comment-content"><%= comment.content %></p>
        <p class="comment-author"><%= comment.user.email %></p>
        <% if comment.created_at %>
          <p class="comment-date">Date: <%= comment.created_at.strftime("%d/%m/%Y") %></p>
        <% else %>
          <p class="comment-date">Date de création inconnue</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

