<h2 class="custom-h2">Mot de passe oublié ?</h2>
<h3 class="custom-h3">Indiquez votre adresse e-mail pour recevoir un message permettant de réinitialiser votre mot de passe</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "custom-form", method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "input", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer", class: "custom-submit-button" %>
  </div>
<% end %><br>

<div class="custom-line"></div>

<% if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "S'inscrire", new_registration_path(resource_name), class: "custom-link" %>
<% end %>
<% if controller_name != 'sessions' %>
  <%= link_to "Se connecter", new_session_path(resource_name), class: "custom-link" %>
<% end %>
