<% content_for :title, "Votre commande" %>


<h1 class="text-center my-4">Résumé de votre commande</h1>

<div class="topics-container">
  <% @order.order_items.each_with_index do |order_item, index| %>
    <div class="card topic-card mb-4">
      <div class="card-body">
        <h2 class="card-title"><%= "#{order_item.item.name} / #{number_to_currency(order_item.item.price)} x#{order_item.quantity}" %></h2>
        <p class="card-text text-right"><%= number_to_currency(order_item.item.price * order_item.quantity) %></p>
      </div>
    </div>
    <% if index < @order.order_items.length - 1 %>
      <div class="custom-line mb-4"></div>
    <% end %>
  <% end %>

  <div class="card topic-card mb-4">
    <div class="card-body">
      <h2 class="card-title">Sous-total</h2>
      <p class="card-text text-right"><%= number_to_currency(@order.subtotal) %></p>
    </div>
  </div>

  <div class="card topic-card mb-4">
    <div class="card-body">
      <h2 class="card-title">Frais de livraison</h2>
      <p class="card-text text-right"><%= number_to_currency(@order.delivery_fee) %></p>
    </div>
  </div>

  <div class="custom-line"></div>

  <div class="card topic-card mb-4">
    <div class="card-body">
      <h2 class="card-title">TOTAL</h2>
      <p class="card-text text-right text-black"><strong><%= number_to_currency(@order.total_price) %></strong></p>
    </div>
  </div>

  <%= link_to 'Poursuivre la commande', new_order_delivery_info_path(@order), class: "custom-submit-button mb-4" %>
</div>
