<h1>Votre Panier</h1>

<p style="color: green"><%= notice %></p>

<% if @cart.cart_items.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix Unité</th> <!-- Ajout d'une colonne de prix unitaire -->
        <th>Total</th> <!-- Renommage de la colonne Prix en Total -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.item.image.variant(resize_to_limit: [100, 100]), alt: cart_item.item.name, class: 'item-image' %></td>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= number_to_currency(cart_item.item.price) %></td> <!-- Affichage du prix unitaire pour chaque article -->
          <td><%= number_to_currency(cart_item.item.price * cart_item.quantity) %></td> <!-- Mise à jour du total pour refléter la quantité -->
          <td>
            <%= button_to 'Retirer', cart_remove_item_path(@cart, cart_item.item), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3"><strong>Total</strong></td>
        <td colspan="3"><%= number_to_currency(@total_price) %></td>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <%= button_to 'Passer commande', cart_confirm_order_path(@cart), method: :post, class: 'btn btn-success' %>
  </div>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>

<div>
  <%= link_to "Continuer vos achats", items_path, class: 'btn btn-outline-primary' %>
</div>
