<% content_for :title, "Connexion" %>


<h2 class="custom-h2">Connectez-vous</h2>
<h3 class="custom-h3">On est ravis de vous revoir !</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "custom-form" }) do |f| %>
  <% if flash[:alert].present? %>
    <div class="field-error"><%= flash[:alert] %></div>
  <% end %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: 'input', required: true %>
    <% if resource.errors[:email].any? %>
      <div class="field-error"><%= resource.errors.full_messages_for(:email).join(", ") %></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Mot de passe", autocomplete: "current-password", class: 'input', required: true %>
    <% if resource.errors[:password].any? %>
      <div class="field-error"><%= resource.errors.full_messages_for(:password).join(", ") %></div>
    <% end %>
  </div>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p class="custom-text-password">
      <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "custom-link" %>
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit "SE CONNECTER", class: "custom-submit-button" %>
  </div>
<% end %><br>

<div class="custom-line"></div>

<p class="custom-text">Pas de compte chez nous ? 
  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "S'inscrire", new_registration_path(resource_name), class: "custom-link" %>
  <% end %>
</p>
