<!-- app/views/items/boucles_oreilles.html.erb -->

<h1>Boucles d'Oreilles</h1>

<% if @items.any? %>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <!-- Affichez l'image de l'item -->
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.name %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text">Prix: <%= number_to_currency(item.price) %></p>
            <%= link_to 'Voir les détails', item_path(item), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Aucune boucle d'oreille n'a été trouvée.</p>
<% end %>
