<% content_for :title, "Nos Boucles d`Oreilles" %>
<% content_for :meta_description, "Explorez notre collection de boucles d'oreilles en macramé faites main, ornées de pierres naturelles. Artisanat authentique pour un look élégant." %>

<h1 class="text-center my-4">Boucles d'Oreilles</h1>

<% if @items.any? %>
  <div class="row">
    <% @items.each do |item| %>
            <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
            <h5 class="card-title"><%= item.name %></h5>
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.name %>
          <% end %>
          <br>
              <%= link_to "Voir plus", item_path(item), class: "custom-submit-button mt-3" %>

          <div class="card-body p-4 text-center">
            <p class="card-text"><%= item.description %></p>
          </div>

          <div class="card-body p-4 text-center">
            <h5 class="text-center"><%= number_to_currency(item.price) %></h5>
            <% if item.in_stock %>
              <div class="badge bg-success mb-3 josefin-sans">En stock</div>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center">Aucune boucle d'oreille n'a été trouvée.</p>
<% end %>
