<!-- app/views/items/edit.html.erb -->
<h1>Edit Item</h1>

<%= form_with(model: @item, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :item_tag_ids, 'Tags' %><br>
    <% ItemTag.all.each do |tag| %>
      <%= check_box_tag 'item[item_tag_ids][]', tag.id, @item.item_tags.include?(tag) %>
      <%= tag.name %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Item', class: 'btn btn-primary' %>
  </div>
<% end %>
