<!-- app/views/items/bracelets.html.erb -->

<h1 class="text-center my-4">Marque Pages</h1>

<% if @items.any? %>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.name %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text">Prix: <%= number_to_currency(item.price) %></p>
              <%= link_to "Voir plus", item_path(item), class: "custom-submit-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Aucun marque page n'a été trouvé.</p>
<% end %>
