<h1>Nouvel Item</h1>

<%= form_with(model: @item, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :item_tag_ids, 'Tags' %>
    <%= form.collection_select :item_tag_ids, ItemTag.all, :id, :name, {}, { multiple: true } %>
  </div>


  <div class="actions">
    <%= form.submit 'Create Item', class: 'btn btn-primary' %>
  </div>
<% end %>
