<h1 class="text-center my-4">Pièce Unique</h1>
<p class="topic-content text-center my-4">Ajouter un nouveau produit</p>


<%= form_with(model: @item, local: true, class: 'custom-form' ) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>


  <div class="form-group">
    <%= form.label :item_tag_ids, 'Tags' %><br>
    <% ItemTag.all.each do |tag| %>
      <div class="form-check">
       <%= check_box_tag 'item[item_tag_ids][]', tag.id, @item.item_tags.include?(tag) %>
      <%= tag.name %><br>

      </div>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit 'Créer le nouveau produit', class: 'custom-submit-button' %>
  </div>
<% end %>








