<% content_for :title, "En Stock" %>

<h1 class="text-center my-4">Tous les bijoux fraîchement sortis de l'atelier ! (<%= @items.count %>)</h1>

<section class="py-5">
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm border-0">
            <h5 class="card-title"><%= item.name %></h5>
            <% if item.image.attached? %>
              <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.name %>
            <% end %>
            <br>
            <%= link_to "Voir plus", item_path(item), class: "custom-submit-button mt-3" %>
            <div class="card-body p-4 text-center">
              <p class="card-text"><%= item.description %></p>
            </div>
            <div class="card-body p-4 text-center">
              <h5><%= number_to_currency(item.price) %></h5>
              <% if item.in_stock %>
                <div class="badge bg-success mb-3 josefin-sans">En stock</div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
