<h1 class="text-center my-4">Livre d'Or</h1>
<h3 class="text-center my-4">Merci la communauté pour tous ces partages et cet amour !</h3>

<% if user_signed_in? %>
  <%= link_to 'Votre avis m\'intéresse', new_review_path, class: "custom-submit-button mb-4" %>
<% else %>
  <%= link_to 'Connectez-vous pour laisser un avis', new_user_session_path, class: "custom-link mb-4" %>
<% end %>
<div class="topics-container">
  <% @reviews.each_with_index do |review, index| %>
    <div class="card topic-card mb-4">
      <div class="card-body text-center">
        <div class="d-flex align-items-center">
              <%= image_tag 'prayer 2.png', class: 'me-2', style: 'margin-bottom: 5px;' %> <!-- Utilisation de l'image -->
              <p class="m-0">DELAIS DE FABRICATION</p>
         
            <p>Tout nos bijoux sont fait mains et nécessitent des délais de fabrication importants (entre 1 et 3 semaines)</p>

        <h2 class="card-title center-text my-4">‘‘<%= review.content %>’’</h2>
        <p class="card-text my-4 center-text">Auteur: <%= review.name %></p>
        <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to 'Supprimer', reviews_path, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %>
        <% end %>
      </div>
    </div>
    <% if index < @reviews.length - 1 %>
      <div class="custom-line mb-4"></div>
    <% end %>
  <% end %>
<%= link_to 'Revenir à l\'accueil', root_path, class: "custom-link" %>
</div>
