<% content_for :title, "Livre d or" %>

    <h1 class="display-4 text-center my-4">Livre d'Or</h1>
  <p class="topic-content text-center my-4">Merci la communauté pour tous ces partages et cet amour !</p>


  <% if user_signed_in? %>
    <%= link_to 'Votre avis m\'intéresse', new_review_path, class: "custom-submit-button mb-4" %>
  <% else %>
    <%= link_to 'Connectez-vous pour laisser un avis', new_user_session_path, class: "custom-link mb-4" %>
  <% end %>

<div class="topics-container">
  <% @reviews.each_with_index do |review, index| %>
    <div class="card topic-card mb-4">
        <h2 class="topic-content text-center">“<%= review.content %>”</h2>
        <p class="topic-meta text-center">- <%= review.name %></p>
        <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to 'Supprimer', reviews_path, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %>
        <% end %>
    </div>
    <% if index < @reviews.length - 1 %>
      <div class="custom-line mb-4"></div>
    <% end %>
  <% end %>
</div><br>
