<footer class="py-5 my-5 border-top">
  <div class="container-fluid footer-content">
    <div class="row justify-content-center">

      <div class="col-auto me-auto">
        <div class="footer-icons">
          <%= image_tag 'facebook.svg', alt: 'Logo Facebook', class: 'footer-icon' %>
          <%= image_tag 'instagram.svg', alt: 'Logo Instagram', class: 'footer-icon' %>
        </div>
      </div>

      <div class="col-auto">
        <p class="text-body-secondary mb-0">CONTACT: MISS.CRAMEE@EMAIL.COM</p> <!-- Ajout de mb-0 pour supprimer la marge en bas -->
      </div>

      <div class="col">
        <h5>COLLECTIONS</h5>
        <ul class="nav flex-column mb-0"> <!-- Ajout de mb-0 pour supprimer la marge en bas -->
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sorties de l'atelier</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Meilleures ventes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tous les bijoux</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>NOS BIJOUX</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Colliers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bracelets</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bijoux main/pied</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Porte-clefs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Marques-pages</a></li>
        </ul>
      </div>

      <div class="col">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><h5>FORUM</h5></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><h5>MISS CRAMEÉ</h5></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><h5>LIVRE D'OR</h5></a></li>
        </ul>
      </div>
    </div>

<div class="row justify-content-center footer-icons-row">
  <div class="footer-icons">
    <%= image_tag 'stripe.svg', alt: 'Logo Stripe', class: 'footer-icon' %>
    <%= image_tag 'paypal.svg', alt: 'Logo Paypal', class: 'footer-icon' %>  
    <%= image_tag 'mastercard.svg', alt: 'Logo Mastercard', class: 'footer-icon' %>
    <%= image_tag 'visa.svg', alt: 'Logo Visa', class: 'footer-icon' %>  
  </div>
</div>

    <div class="row justify-content-center mt-3">
      <div class="col text-center">
        <p class="text-body-secondary mb-0">© LES M'ONDES DE MISS CRAMEÉ, SIRET: 123456789</p> 
        <p class="text-body-secondary mb-0"> 
          <a href="#" class="nav-link p-0 text-body-secondary mention-link">MENTIONS LÉGALES</a>
        </p>
      </div>
    </div>
  </div>
  </div>

</footer>
