<!DOCTYPE html>
<html>
  <head>
    <title>Les M'Ondes de Miss Cramée : Boutique bijoux macramé</title>
    <%= favicon_link_tag 'white_logo.svg' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="bijoux en macramé, bijoux faits main, pierres naturelles, bracelets, colliers, boucles d'oreilles, artisanat, Miss Cramée">
    <meta name="author" content="Miss Cramée">
    <meta name="description" content="Découvrez les bijoux en macramé faits main par Miss Cramée, artisan passionnée. Explorez nos bracelets, colliers et boucles d'oreilles en pierres naturelles.">
   
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "layouts/nav" %>
  <%= render "layouts/header" %>
  <%= yield %>
  <%= render "layouts/footer" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>